// Заголовки, общие БЄМ блоки и проче...

body {
    line-height: 120%;
    background-color: #220736;
    color: #fff;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img,picture {
        width: 100%;
    }
}

.t-blue {
    text-shadow: 0 0 6px #2602ff, 0 -1px 3px #322ee3;
}




.glitch {
    display: block;
    // background-image: url('https://images.unsplash.com/photo-1551771685-c367c9127a03?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height: 376px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation-duration:10s;
    animation-duration:10s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-name:glitch-anim;
    animation-name:glitch-anim;
    -webkit-animation-direction:alternate;
    animation-direction:alternate
}

@keyframes glitch-anim {
    0% {
        opacity: 1;
        transform: translateZ(0);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    1% {
        clip-path: polygon(0 84.67%, 100% 84.67%, 100% 100%, 0 100%);
        transform: translate(-5px);
    }
    3% {
        clip-path: polygon(0 84.67%, 100% 84.67%, 100% 100%, 0 100%);
        transform: translate(5px);
    }
    4% {
        clip-path: polygon(0 84.67%, 100% 84.67%, 100% 100%, 0 100%);
        transform: translate(-5px);
    }
    5% {
        clip-path: polygon(0 84.67%, 100% 84.67%, 100% 100%, 0 100%);
        transform: translate(0);
    }
    6% {
        clip-path: polygon(0 57.33%, 100% 57.33%, 100% 62.67%, 0 62.67%);
        transform: translate3d(35px, 0, 0);
    }
    8% {
        clip-path: polygon(0 57.33%, 100% 57.33%, 100% 62.67%, 0 62.67%);
        transform: translateZ(0);
    }
    10.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        transform: translate3d(0, 0, 0);
    }
    21% {
        clip-path: polygon(0 66.67%, 100% 66.67%, 100% 70%, 0 70%);
        transform: translate3d(5px, 0, 0);
    }
    22% {
        clip-path: polygon(0 66.67%, 100% 66.67%, 100% 70%, 0 70%);
        transform: translate3d(-9px, 0, 0);
    }
    24.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        transform: translate3d(5px, 0, 0);
    }
    28% {
        clip-path: polygon(0 95%, 100% 95%, 100% 80%, 0 80%);
        transform: translate3d(5px, 0, 0);
    }
    28.1% {
        clip-path: polygon(0 95%, 100% 95%, 100% 80%, 0 80%);
        transform: translate3d(-5px, 0, 0);
    }
    23.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    // 63% {
    //     clip-path: polygon(0 66.67%, 100% 66.67%, 100% 70%, 0 70%);
    //     transform: translate3d(5px, 0, 0);
    // }
    // 63.1% {
    //     clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    //     opacity: 1;
    // }
    52% {
        clip-path: polygon(0 71%, 100% 71%, 100% 80%, 0 80%);
        transform: translate(-5px);
    }
    45% {
        clip-path: polygon(0 71%, 100% 71%, 100% 80%, 0 80%);
        transform: translate(5px);
    }
    58% {
        clip-path: polygon(0 71%, 100% 71%, 100% 80%, 0 80%);
        transform: translate(-5px);
    }
    63.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        opacity: 1;
    }
    80% {
        clip-path: polygon(0 57.33%, 100% 57.33%, 100% 62.67%, 0 62.67%);
        transform: translateZ(0);
    }
    80.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        transform: translate3d(5px, 0, 0);
    }
    83% {
        clip-path: polygon(0 66.67%, 100% 66.67%, 100% 70%, 0 70%);
        transform: translate3d(5px, 0, 0);
    }
    83.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        opacity: 1;
    }
    to {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        opacity: 1;
    }
}






.button {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(width, 563, 563, 296);
    @include responsive(height, 80, 80, 44);
    cursor: pointer;
    transition: all 0.3s ease  0s;
    &:active {
        transform: scale(0.95);
    }
    &:hover {
        &::after {
            animation: gradientShift 5s linear infinite;
        }
    }
    &__decor-bg {
        position: absolute;
        z-index: -1;
        @include responsive(top, -16.5, -8, -4);
        @include responsive(left, 105, 105, 44);
        @include responsive(width, 362, 362, 208);
        @include responsive(height, 150, 150, 72);
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__decor {
        position: absolute;
        bottom: 0;
        left: 0;
        @include responsive(width, 48, 48, 18);
        @include responsive(height, 48, 48, 18);
        z-index: 2;

        svg {
            width: 100%;
            height: 100%;
        }
        &._2 {
            bottom: auto;
            top: 0;
            left: auto;
            right: 0;
        }
    }

    span {
        position: relative;
        z-index: 3;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        @include responsive(font-size, 24, 24, 16);
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: var(--bodi-1);
        text-shadow: 0 0 3px #2602ff;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        // background: rgba(255, 0, 0, 0.541);
        top:0;
        left: 0;
        z-index: 0;
        backdrop-filter: blur(10px);
        background: linear-gradient(90deg, rgba(44,26,95,0.3) 0%, rgba(185,34,161,0.01) 50%, rgba(143,22,167,0.3) 100%);
        // clip-path: polygon(0 0, 519px 0, 563px 44px, 563px 100px, 45px 100px, 0 56px);
        clip-path: polygon(
            0% 0%,              
            92.18% 0%,          
            100% 55%,            
            100% 125%,           
            8% 125%,             
            0% 70%              
        );
    }

    &::after {
        position: absolute;
        content: '';
        @include responsive(width, 563, 563, 296);
        @include responsive(height, 80, 80, 44);
        top:0;
        left: 0;
        z-index: 0;
        opacity: 0;
        backdrop-filter: blur(10px);
        background: linear-gradient(90deg, #e32e9b 0%, #8f16a7 100%);
        // clip-path: polygon(0 0, 519px 0, 563px 44px, 563px 100px, 45px 100px, 0 56px);
        clip-path: polygon(
            0% 0%,              
            92.18% 0%,          
            100% 55%,            
            100% 125%,           
            8% 125%,             
            0% 70%              
        );
        // animation: gradientShift 5s linear infinite;
        transition: all 0.3s ease  0s;
    }
    .web {
        @media(max-width:480px){
            display: none;
        }
    }
    .tab {
        display: none;
        @media(max-width:1024px){
            display: block;
        }
        @media(max-width:480px){
            display: none;
        }
    }
    .mob {
        display: none;
        @media(max-width:480px){
            display: block;
        }
    }
   
}

.title-hal {
    position: relative;
    z-index: 3;
    font-family: var(--font4);
    font-style: italic;
    font-weight: 400;
    line-height: 50%;
    text-align: center;

    &__text {
        display: block;
        // background: linear-gradient(180deg, #1b4cfa 65%, #f5a1fc 110%);
        background: linear-gradient(180deg, #1b4cfa 0%, #f5a1fc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__double {
        display: block;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: rem(0);
        left: rem(0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 4px 4px  #e32e9b, 0 4px 4px  rgba(63, 108, 255, 1);
        text-shadow: 0 vw(4) vw(4) #e32e9b, 0 vw(4) vw(4) rgba(63, 108, 255, 0.8);
        @media(max-width:1024px){
            text-shadow: 0 vw(4, 768) vw(4, 768) #e32e9b, 0 vw(4, 768) vw(4, 768) rgba(63, 108, 255, 0.8);
        }
        @media(max-width:480px){
            text-shadow: 0 vw(2, 360) vw(2, 360) #e32e9b, 0 vw(2, 360) vw(2, 360) rgba(63, 108, 255, 0.8);
        }
    }
}

.title-bul {
    position: relative;
    z-index: 3;
    font-family: var(--third-family);
    font-style: italic;
    font-weight: 400;
    line-height: 80%;
    text-align: center;

	&__text {
        background: linear-gradient(180deg, #1b4cfa 0%, #f5a1fc 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}

	&__double {
        display: block;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: -3%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: vw(3) vw(4) vw(4) #e32e9b, 0 vw(4) vw(4) rgba(63, 108, 255, 0.8);
        @media(max-width:1024px){
            text-shadow: vw(3, 768) vw(4, 768) vw(4, 768) #e32e9b, 0 vw(4, 768) vw(4, 768) rgba(63, 108, 255, 0.8);
        }
        @media(max-width:480px){
            text-shadow: vw(1, 360) vw(2, 360) vw(2, 360) #e32e9b, 0 vw(2, 360) vw(2, 360) rgba(63, 108, 255, 0.8);
        }
	}
}
