@font-face {
	font-family: AlexisBulletItalic;
	font-display: swap;
	src: url("../fonts/AlexisBulletItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: AlexisHalftoneItalic;
	font-display: swap;
	src: url("../fonts/AlexisHalftoneItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Exo2;
	font-display: swap;
	src: url("../fonts/Exo2-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Exo2;
	font-display: swap;
	src: url("../fonts/Exo2-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Pentagra;
	font-display: swap;
	src: url("../fonts/Pentagra.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Spooky;
	font-display: swap;
	src: url("../fonts/Spooky-Brush.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
