@keyframes show-header {
  0% {
    top: -100%;
  }

  100% {
    top: 0;
  }
}

@keyframes fade-up-big {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes gradientShift {
            
  0% {
     filter: hue-rotate(0deg);
     opacity: 0;
  }
  6% {
    opacity: 1;
  }
  25% {
      filter: hue-rotate(30deg);
      opacity: 0.5;
  }
  50% {
      filter: hue-rotate(20deg);
      opacity: 1;
  }
  75% {
      filter: hue-rotate(20deg);
      opacity: 0.7;
  }
  100% {
      filter: hue-rotate(0deg);
  }

}